*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@mixin cursor {
    cursor: pointer;
}
@mixin font-inter {
    font-family: 'Inter', sans-serif;
}
@mixin nav-hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    transition: .3s;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    .container {
        width: 1440px;
        height: auto;
        background-color: #fff;
        border: 1px solid red;
        .navbar {
            width: 100%;
            border: 1px solid blue;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .nav-logo {
                @include font-inter;
                font-size: 32px;
                color: #000;
                @include cursor;
            }
            .nav-list {
                @include font-inter;
                font-size: 20px;
                display: flex;
                gap: 25px;
                a {
                    text-decoration: none;
                    color: #000;
                }
                a:hover {
                    @include nav-hover;
                } 
                
            }
            .nav-sign-in {
                button {
                    @include font-inter;
                    font-size: 20px;
                    background: none;
                    border: none;
                    @include cursor;
                    span {
                        font-weight: bold;
                        font-size: 22px;
                    }
                }
                button:hover {
                    @include nav-hover;
                }
            }
        }
    }
}
