* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  width: 1440px;
  height: auto;
  background-color: #fff;
}

body .container .navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

body .container .navbar .nav-logo {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: #000;
  cursor: pointer;
}

body .container .navbar .nav-list {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

body .container .navbar .nav-list a {
  text-decoration: none;
  color: #000;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body .container .navbar .nav-list a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

body .container .navbar .nav-sign-in button {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

body .container .navbar .nav-sign-in button span {
  font-weight: bold;
  font-size: 22px;
}

body .container .navbar .nav-sign-in button:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

body .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 50px;
}

body .container .header .header-img {
  width: 544px;
  height: 803px;
}

body .container .header .header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .header .header-box .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 472px;
  height: 360px;
  padding: 10px;
  margin-top: 50px;
  gap: 20px;
}

body .container .header .header-box .header-text h1 {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 64px;
}

body .container .header .header-box .header-text p {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
}

body .container .header .header-box .header-text .header-btn {
  background-color: #A1A9F6;
  border: none;
  width: 232px;
  height: 54px;
  border-radius: 297px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

body .container .header .header-box .header-text .header-btn:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

body .container .header .header-sponsor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .header .header-sponsor img {
  cursor: pointer;
}

body .container .section-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
  width: 1440px;
  height: 900px;
}

body .container .section-one .section-one-img {
  width: 555px;
  height: 456px;
  position: relative;
}

body .container .section-one .section-one-img img {
  position: absolute;
  left: 110px;
  z-index: 1;
}

body .container .section-one .section-one-box {
  width: 634px;
  height: 608px;
  border: 3px solid black;
  padding: 80px;
  margin-right: 80px;
  position: relative;
}

body .container .section-one .section-one-box h3 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

body .container .section-one .section-one-box p {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: 150%;
}

body .container .section-one .section-one-box .s-o-btn {
  width: 301px;
  height: 76px;
  border-radius: 25.926px;
  background: #A1A9F6;
  border: none;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 25.926px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  left: 380px;
  bottom: 15px;
  position: absolute;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}

body .container .section-one .section-one-box .s-o-btn:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

body .container .section-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  height: 900px;
}

body .container .section-two .img-box-one {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 10px;
}

body .container .section-two .img-box-one .img-one img {
  width: 232px;
  height: 294px;
}

body .container .section-two .img-box-one .img-text {
  border: 1px solid black;
  width: 152px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 80px;
  padding: 5px;
}

body .container .section-two .img-box-one .img-text h2 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

body .container .section-two .img-box-one .img-text p {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

body .container .section-two .img-box-two {
  width: 50%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .container .section-two .img-box-two .text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

body .container .section-two .img-box-two .text-box h1 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

body .container .section-two .img-box-two .text-box input {
  width: 232px;
  height: 54px;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 15px;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

body .container .section-two .img-box-two .text-box p {
  width: 472px;
  height: 84px;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

body .container .section-two .img-box-two .img-box .img-text {
  border: 1px solid black;
  width: 182px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin-top: 15px;
}

body .container .section-two .img-box-two .img-box .img-text h2 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

body .container .section-two .img-box-two .img-box .img-text p {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}

body .container .section-two .img-box-three {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  padding: 10px;
}

body .container .section-two .img-box-three .img-one img {
  width: 232px;
  height: 294px;
}

body .container .section-two .img-box-three .img-text {
  border: 1px solid black;
  width: 152px;
  height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 80px;
  padding: 5px;
}

body .container .section-two .img-box-three .img-text h2 {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

body .container .section-two .img-box-three .img-text p {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 300;
  line-height: normal;
}
/*# sourceMappingURL=style.css.map */